body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url('objects/photos/backgraund.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


#gameContainer {
    background-color: rgba(139, 69, 19, 0.3);
    margin-left: auto;
    margin-right: auto;
    height: 140px;
    border: 1px solid beige;
    border-radius: 15px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#turnDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 24px;
}

#themeSwitch {
    margin-bottom: 10px;
    margin-top: 10px;
}

canvas {
    border: 1px solid #000;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}



.check-alert {
    color: #dc143c;
    font-size: 30px;
    font-weight: bold;
}


.game-container {
    background-color: #eee;
    color: #000;
}

.chess-button {
    padding: 12px 24px;
    background-color: #b69b4c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
  }
  
  .chess-button:hover {
    background-color: #c7a76a;
  }
  
  .chess-button:focus {
    outline: 2px solid #dcd0ba;
    outline-offset: 2px;
  }
  
  .chess-button:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  