body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url('objects/photos/backgraund.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


#gameContainer {
    background-color: rgba(139, 69, 19, 0.3);
    margin-left: auto;
    margin-right: auto;
    height: 110px;
    border: 1px solid beige;
    border-radius: 15px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#turnDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 24px;
}

#themeSwitch {
    margin-bottom: 20px;
    margin-top: 10px;
}

canvas {
    border: 1px solid #000;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}



.check-alert {
    color: #dc143c;
    font-size: 30px;
    font-weight: bold;
}


.game-container {
    background-color: #eee;
    color: #000;
}